# templates/vector.yaml.j2
data_dir: /var/lib/vector/

sources:
  host_metrics:
    type: host_metrics
    scrape_interval_secs: 10

sinks:
  console_output:
    type: console
    inputs:
      - host_metrics
    encoding:
      codec: json
      